@import "src/components/_colors.scss";

.flipper #updateMenu {
  top: -21px;
  right: -17px;
}

.flipper #updateMenuWithIcon {
  top: -7px;
  right: -5px;
}

.flip-container.update, .front.update, .back.update, .bigCards.update {
  height: 210px;
}

textarea {
  background-color: $dark_light;
  margin: 0 10px 5px 10px;
  width: 100%;
  outline: 0;
  border: 1px solid $lightgray;
  color: $lightgray;
  font-size: 10pt;
  height: 70px;
}

.swipe-button-card {
  margin-top: 7px;
}

.swipe-button-card > .row.danger {
  height: 32.5px;
}

.swipe-button-card > * .drag-button {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.swipe-button-card label {
  font-size: 12pt;
}

.swipe-button-card > * .icon {
  font-size: 20pt;
}