@import "src/components/colors";

.subject {
  margin: 20px 10px;
  padding: 10px;
  border: 3px solid;
}

.subject.updateMode {
  border: 3px solid;
  background-color: $dark_light !important;
}

#subjects h2 {
  color: black;
}

#newCardStack, #subjects .visible, #subjects .invisible, {
  background: rgba(0, 0, 0, 0.2);
}

.cardStacksContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}