@import "src/components/colors";

#subjects h2 {
  color: black;
}

#newCardStack, #subjects .visible, #subjects .invisible, {
  background: rgba(0, 0, 0, 0.2);
}

.cardStacksContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}