$black: #000000;
$white: #ffffff;

$purple: #4E3E4C;
$purple_contrast: #F6F67F;

$green: #3CB371;
$red: #FF0000;

$lightyellow: #FCFCCF;
$lightyellowWithGray: #E1E1B0;

$cardBackground: linear-gradient(
                to bottom,
                $lightyellow ,
                $lightyellow 85%,
                $lightyellowWithGray 90%,
                $lightyellowWithGray);