$black: #000000;
$white: #ffffff;
$gray: gray;
$lightgray: #F2F3F4;

$purple: #4E3E4C;
$purple_contrast: #F6F67F;
$purple_outline: #A79FA6;

$darkyellow: #D8D87F;
$sunyellow: #FFF000;

$green: #3CB371;
$darkgreen: darkgreen;

$red: #FF0000;
$lightred: #FF8080;
$darkred: darkred;

$lightyellow: #FCFCCF;
$lightyellowWithGray: #E1E1B0;
$darkbeige: #AEAE9D;

$cardBackground: linear-gradient(
                to bottom,
                $lightyellow,
                $lightyellow 85%,
                $lightyellowWithGray 90%,
                $lightyellowWithGray);