@import "colors";

#loginBody {
  height: 100%;
  background: $cardBackground;
  background-size: 100% 10px;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#login .formAdd {
  background-color: $purple;
  color: white;
}

#login .formAdd form {
  width:100%;
}

#headerLogin {
  width: 95%;
  padding: 20px 0;
  top: 0;
  position: absolute;
  z-index: 0;
}

#headerLogin h1 {
  font-size: 35pt;
  color: $white;
  text-shadow: 0 0 10px $purple;
}

p {
  color: $purple_contrast;
  text-decoration: underline;
  font-size: 10pt;
}

#login input {
  width: 95%;
}

input.inputError {
  border: 2px solid red;
  color: red;
}