@import "colors";

html, body, #root {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12pt;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 16pt;
}

h4 {
  margin-bottom: 10px;
  color: lightgreen;
}

.icon {
  font-size: 25pt;
}

#root {
  display: flex;
  flex-direction: column;
}

#content {
  overflow: scroll;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: $purple;
  color: $white;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: $purple;
  overflow: hidden;
  flex-shrink: 0;
}

.footer button {
  color: $white;
  padding: 10px 30px;
  margin: 5px 10px;
  background-color: $purple;
  border: none;
  border-radius: 5px;
}

.footer button:active, .footer button:hover {
  color: $purple;
  background-color: $purple_contrast;
}

button:focus {
  outline: 0;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.formAdd {
  background-color: $green;
  margin: 10px 10px;
  border-radius: 10px;
  padding: 10px;
}

.button {
  border-radius: 20px;
  width: 50px;
  height: 50px;
}

.buttonSuccess {
  color: $green;
  background-color: $white;
  margin: 5px 20px;
  border: none;
}

.buttonReset {
  color: $red;
  background-color: $white;
  margin: 5px 20px;
  border: none;
}

.col input {
  width: 100%;
  height: 30px;
}

.col {
  margin: 10px 0;
}