@import "colors";

* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size:14pt;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 16pt;
}

.icon {
  font-size: 20pt;
}

html, body, #root {
 height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

#content {
  overflow: scroll;
  height:100%;
}

.header {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: $purple;
  color: $white;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: $purple;
  overflow: hidden;
  flex-shrink: 0;
}

.footer button {
  color: $white;
  padding: 10px 30px;
  margin: 5px 10px;
  background-color: $purple;
  border: none;
  border-radius: 5px;
}

.footer button:active, .footer button:hover  {
  color: $purple;
  background-color: $purple_contrast;
}

button:focus {
  outline:0;
}

.row {
  display: flex;
  justify-content: center
}

button.add {
  background-color: $green;
  width: 70px;
  height:70px;
  border-radius: 70px;
  margin: 10px 0;
  border: none;
  color: $white;
}

button.add:active, button.add:hover {
  background-color: $purple;
  color: $green
}

.subject {
  background-color: red;
  margin: 10px 10px;
  border-radius: 10px;
  padding: 10px;
}

.card {
  width: 100%;
  background: $cardBackground;
  background-size: 100% 10px;
  border: 1px solid black;
  border-radius: 7.5px;
}
.cards {
  margin: 10px 0;
  max-width: 250px;
  width: 100%;
}
.cardBack {
  height: 20px;
}

.cardMiddle {
  height: 20px;
  margin-top:-10px;
}

.cardFront {
  margin-top:-10px;
  height:100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
}