.settings {
  font-size: 14pt;
}

.hamburgerIcon {
  position: absolute;
  top: -2.5px;
  right: -2.5px;
  z-index: 2;
}

.roundedEdge {
  z-index: 0;
  border-radius: 50%;
  position: absolute;
  right:-30px;
  top:-30px;
  height: 60px;
  width: 60px;
  background-color: white;
  border:1px solid white;
  padding: 4px;
  text-align: left;
}