@import "colors";

button.add {
  background-color: $green;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin: 10px 0;
  border: none;
  color: $white;
}

button.add:active, button.add:hover {
  background-color: $purple;
  color: $green
}

.subject {
  margin: 10px 10px;
  border-radius: 10px;
  padding: 10px;
  border: 0.5px solid gray;
}

.card.add {
  color: $green;
  border: 1px solid black;
}

button.card.add:active, button.card.add:hover {
  color: black;
}

.card .formAdd {
  background-color: transparent;
}

.card .formAdd button {
  border: 1px solid black;
}

.card {
  width: 100%;
  background: $cardBackground;
  background-size: 100% 10px;
  border: 1px solid black;
  border-radius: 7.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards {
  margin: 10px 0;
  max-width: 350px;
  width: 100%;
  cursor: pointer;
}

.cardBack {
  height: 20px;
}

.cardMiddle {
  height: 20px;
  margin-top: -10px;
}

.cardFront {
  margin-top: -10px;
  height: 180px;
  justify-content: center;
  align-items: center;
  display: flex;
}