@import "src/components/_colors.scss";

.row.danger {
  height: 50px;
  background: rgba(255, 0, 0, 0.5);
  color: red;
  margin-left: 15px;
  width: auto;
}

.drag-object {
  position: absolute;
  margin: 0;
  left: -5px;
}

.drag-label {
  margin-left: 70px;
}

.drag-button {
  cursor: pointer;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  border: 2px solid $dark_light;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 16pt;
}

.btn .icon {
  font-size: 20pt;
}

.draggable {
  cursor: pointer;
}

.dropzone {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 60px;
  width: 60px;
  right: 0;
}