$dark: #000;
$dark_light: #1B2021;
$dark_light_lighter: #414444;
$gray: #706e6e;
$lightgray: #939393;

$black: #000000;
$white: #ffffff;

$purple_contrast: #F6F67F;
$purple_outline: #A79FA6;

$darkyellow: #D8D87F;
$updateYellow: #eddf00;

$green: #3CB371;
$darkgreen: darkgreen;

$blue: #00CED1;

$red: #FF0000;
$lightred: #FF8080;
$darkred: darkred;

$lightyellow: #FCFCCF;
$lightyellowWithGray: #E1E1B0;
$darkbeige: #AEAE9D;

$cardBackground: linear-gradient(
                to bottom,
                $dark_light,
                $dark_light 85%,
                #282727 90%,
                #282727);