@import "src/components/colors";

html, body, #root {
  height: 100%;
  background-color: $dark;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12pt;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 18pt;
  color: $lightgray;
}

h3 {
  font-size: 16pt;
  color: $gray;
}

//***************** PLACEHOLDER
::placeholder {
  color: red;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: red;
  opacity: 0.5;
}

//***************** PLACEHOLDER

.updateInput {
  font-size: 16pt;
  text-align: center;
  border: 2px solid;
  border-radius: 7px;
  padding: 0;
}

.icon {
  font-size: 25pt;
}

#root {
  display: flex;
  flex-direction: column;
}

#content {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  color: $gray;
}

@media only screen and (max-width: 320px) {
  .footer .icon {
    font-size: 20pt !important;
  }
}

.header {
  background-color: $dark_light;
  color: $white;
  padding: 10px;
  margin-bottom: 10px;
}

.header .row {
  border-bottom: 1px solid yellow;
}

.header .icon {
  color: yellow;
  padding-right: 20px;
}

.footer .row {
  justify-content: center;
}

.row.center {
  justify-content: center;
}

.row.more-space {
  padding: 15px 0;
}

.footer {
  display: flex;
  background-color: $dark;
  overflow: hidden;
  flex-shrink: 0;
}

.footer button {
  color: $gray;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: $dark_light;
  border: none;
  border-radius: 5px;
}

.footer button:active, .footer button:hover {
  color: $dark;
  background-color: $purple_contrast;
}

button:focus {
  outline: 0;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

}

.dark {
  background-color: $dark_light;
}

form {
  width: 100%;
}

.invisible {
  max-height: 0;
  width: 0;
  transition: width, max-height 0.25s ease-out;
}

button.invisible {
  visibility: hidden;
}

div.invisible * {
  visibility: hidden;
}

.visible {
  height: auto;
  width: auto;
}

button.visible {
  height: 40px;
  width: 40px;
}

div.visible {
  max-height: 300px;
  transition: max-height 0.25s ease-in;
  overflow: hidden;
}

form input, form label {
  margin: 5px 10px;
}

form input {
  outline: 0;
  border: 1px solid $lightgray;
  background-color: $dark_light;
  color: $lightgray;
  font-size: 10pt;
  width: 100%;
}

button {
  cursor: pointer;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

button .icon {
  font-size: 20pt;
}

.buttonSuccess.small, .buttonReset.small, .buttonUpdate.small {
  width: 40px !important;
  height: 40px !important;
}

.buttonSuccess.small .icon, .buttonReset.small .icon, .buttonUpdate.small .icon {
  font-size: 20pt;
}

.buttonSuccess {
  background-color: $green !important;
  color: $dark_light;
  border: none;
  //width: 40px;
  //height: 40px;
  //border: 1px solid $green;
}

.buttonSuccess:active, .buttonSuccess:hover {
  //background-color: $dark_light;
  //color: $green;
  //border: 1px solid $green;
}

.buttonAdd:active, .buttonAdd:hover {
  //background-color: $darkyellow;
  //color: $dark_light;
}

button.buttonSuccess.card:active, button.buttonSuccess.card:hover {
  color: $lightyellow;
  background: $green none;
}

.buttonReset {
  background-color: $red !important;
  color: $dark_light;
  border: 1px solid $red;
}

.buttonReset:active, .buttonReset:hover {
  //color: $dark_light;
  //background-color: $red;
}

button.buttonReset.card:active, button.buttonReset.card:hover  {
  color: $lightyellow;
  background: $red none;
}

.buttonUpdate {
  color: $updateYellow;
  background-color: $white;
  border: 1px solid $updateYellow;
}

.buttonUpdate:active, .buttonUpdate:hover {
  color: $white;
  background-color: $updateYellow;
}

button.buttonUpdate.card:active, button.buttonUpdate.card:hover {
  color: $lightyellow;
  background: $updateYellow none;
}

.buttonInfo {
  color: $gray;
  background-color: $white;
  border: 1px solid $gray;
}

.buttonInfo:active, .buttonInfo:hover {
  color: $white;
  background-color: $gray;
}

button.buttonInfo.card:active, button.buttonInfo.card:hover {
  color: $lightyellow;
  background: $gray none;
}

input {
  border: none;
  padding: 5px;
}

input:focus {
  outline-color: $purple_outline;
}

input:focus.inputError {
  outline-color: $red;
}

.col input {
  height: 30px;
}

.col {
  margin: 10px;
  text-align: center;
}