@import "src/components/colors";

#login-background {
  height: 100%;
  background: $cardBackground;
  background-size: 100% 10px;
  width: 100%;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.login-register-content {
  width: 90%;
}

#login .formAdd {
  background-color: $dark;
  color: white;
  padding: 10px 0;
}

#login .formAdd form {
  width: 100%;
}

#col-register-link {
  margin: 0 0 30px 10px;
}

.login-register-header {
  width: 95%;
  padding: 20px 0;
}

.login-register-subheader {
  margin-left: 10px;
}

#subheader-register {
  margin-bottom: 30px;
}

.login-register-header h1 {
  font-size: 35pt;
  color: $white;
  text-shadow: 0 0 10px $dark;
}

p {
  color: $purple_contrast;
  text-decoration: underline;
  font-size: 10pt;
}

#login input {
  width: 95%;
}

input.inputError, textarea.inputError {
  border: 2px solid red;
  color: red;
}